################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/INF147-TP3/Debug
